<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AddUser</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Edit User</h2>
    <!--<form th:action="@{/edit}" th:method="post"> -->
        <form th:action="@{|/edit/*{userPlaceHolder.getId()}|}"*>
        <label>
            Name:
            <input type="text" name="name" class="form-control" th:value="${userPlaceHolder.getName()}" required>
        </label>
        <br>
        <label>
            Surname:
            <input type="text" name="surname" class="form-control" th:value="${userPlaceHolder.getSurname()}" required>
        </label>
        <br>
        <label>
            E-mail:
            <input type="text" name="email" class="form-control" th:value="${userPlaceHolder.getEmail()}" required>
        </label>
        <br>
        <label>
            Telephone:
            <input type="text" name="phoneNumber" class="form-control" th:value="${userPlaceHolder.getPhoneNumber()}" required>
        </label>
        <br>
        <input type="submit" class="btn btn-primary btn-sm" value="Submit">
    </form>
</div>
</body>
</html>